.catalog {
  padding: 270px 100px 75px 100px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 714px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.list {
  display: flex;
  gap: 32px;
  max-width: 1240px;
  height: 508px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.item:hover,
.item:focus {
  transform: scale(1.05);
}

.item {
  border-radius: 24px;
  width: 392px;
  height: 508px;
  margin: 0 auto;
  background-color: #fbfbfb;
  padding: 16px 16px 32px 16px;
}

.img {
  margin-bottom: 32px;
  max-width: 360px;
  display: block;
}

.bloxs {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  margin-bottom: 16px;
}

.subtitleText {
  font-size: 13px;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.typeDivider {
  margin-bottom: 16px;
}

.info {
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
  opacity: 0.4;
  margin-bottom: 6px;
}

.text {
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: #040306;
}

.link {
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  width: 179px;
  height: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.link:hover,
.link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .catalog {
    padding: 305px 50px 75px 50px;
  }

  .list {
    gap: 25px;
    max-width: 1180px;
  }

  .item {
    max-width: 377px;
  }

  .img {
    max-width: 345px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .catalog {
    padding: 426px 32px 75px 32px;
  }

  .list {
    gap: 25px;
    max-width: 704px;
  }

  .item {
    max-width: 336px;
  }

  .item2 {
    display: none;
  }
}
